<!-- Showcases a welcome message and provides a brief overview of the job portal -->

<div>
    <h2> JOBBING </h2>
    <p>This is the job portal website where you can search and apply for jobs</p>
    <p> If you are recruiter, looking for talented individuals to hire, join us as recruiter</p>
    <a href="/jobs" class="btn btn-warning me-2">JOIN AS JOB SEEKER</a>
    <a href="/register" class="btn btn-warning">JOIN AS RECRUITER </a>
</div>

